<div class="row">
    <h1>Experiencia laboral</h1>
    <br>
    <br>
    <br>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
            <h2>CRM - MDServices</h2> 
            <h4>(Jul 2022 - Actualidad)</h4>
             </li>
            <p>
           - Elaboración y preparación de propuestas comerciales. <br>
           - Presentación de análisis BI de la operatoria en general. <br>
           - Seguimiento a solicitudes de clientes. <br>
           - Resolución de incidencias. <br>
           - Análisis de exportaciones. <br>
             </p>
     </ul>
        <ul>
         <li>
            <h2>Supervisor de operatoria nacional - MDServices</h2>
             <h4>(Ene - Jul 2022)</h4>
         </li>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Aut sunt asperiores enim, vero recusandae 
            repellendus ipsa tempora praesentium libero doloribus tenetur
             adipisci quas natus, corporis odio culpa! Distinctio, reiciendis hic!
         </p>
     </ul>
     <ul>
        <li>
            <h2>Jefe de Fiscalización - Municipalidad de Gral. San Martin</h2>
             <h4>(mar 2019 - dic 2021)</h4>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Aut sunt asperiores enim, vero recusandae 
            repellendus ipsa tempora praesentium libero doloribus tenetur
             adipisci quas natus, corporis odio culpa! Distinctio, reiciendis hic!
        </p>
     </ul>
     <ul>
        <li>
            <h2>Administrativo - Bodegas y viñedos Crotta</h2>
             <h4>(Ene - Nov 2021)</h4>
        </li>
        <p>
            - Data entry <br>
            - Trazabilidad de los productos. <br>
            - Análisis de los procesos. <br>
        </p>
     </ul>
     <ul>
        <li>
            <h2>Coordinador de medidas recaudatorias - Municipalidad de Gral. San Martin</h2>
             <h4>(mar 2016 - mar 2019)</h4>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Aut sunt asperiores enim, vero recusandae 
            repellendus ipsa tempora praesentium libero doloribus tenetur
             adipisci quas natus, corporis odio culpa! Distinctio, reiciendis hic!
        </p>
     </ul>

     <ul>
        <li>
            <h2>Auxiliar Administrativo - Municipalidad de Gral. San Martin</h2>
             <h4>(mar 2013 - mar 2016)</h4>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Aut sunt asperiores enim, vero recusandae 
            repellendus ipsa tempora praesentium libero doloribus tenetur
             adipisci quas natus, corporis odio culpa! Distinctio, reiciendis hic!
        </p>
     </ul>

    </div>


</div>