<div class="row">
    <h1>Experiencia laboral</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <br>
    <br>
    <br>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h3><b></b>{{Experiencia.nombreE}}</h3>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged"> 
                        
                        <button type="button" class="btn btn-warning" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill"></i>EDITAR</button>
                        
                    </td>
                    <td *ngIf="isLogged">
                        <button type="button" class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-x-octagon"></i> BORRAR</button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>